body{
    font-family: 'Poppins', sans-serif;
}
.first-bar{

}
.nav-bar{
    background-color: rgba(255, 174, 24, 0.89);
    width:100%;
    overflow: auto;
}
.nav-bar a{
    float:right;
    text-align: center;
    text-decoration: none;
    padding:30px;
    color:white;
    font-size: 200%;
}
#logo img{
    width: 50px;
}
#logo{
    float:left;
    font-size: 300%;
    text-align: center;
    padding:20px;
    margin-left: 40px;
    color: white;
}
.highlight{
    color:rgba(255, 174, 24, 0.89);
}
.first-block{
    display: flex;
    margin-left: 50px;
    margin-right: .001px;
}
.half-length{
    width:50%;
    padding: 60px;
}
.half-length2{
    width:50%;
    padding-top: 60px;
    padding-right: 120px;
    margin-top: 120px;
    margin-right: 80px;
}

.half-length a{
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 174, 24, 0.89),rgba(253, 201, 105, 0.315));
    color:black;
    font-size: 20px;
    padding: 14px 10px;
    border-radius: 10px;
}
h1{
    font-size: 30px;
}
.id{
    font-size: 30px;
    margin-top: 40px;
}
#first-p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: medium;
}
.second-logo{
    width: 300px;
    height:300px;
    padding-top: 20px;
    padding-left: 80px;
}
.bio-pic{
    width: 400px;
    height:500px;
    padding-left: 80px;
    margin-top:45px;
}
.second-block{
    display: flex;
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
    
}
#recipe{
    font-size: 30px;
    text-align: center;
    padding:20px;
}
.second-p{
    text-align: center;
    padding:10px 200px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 15px;
}
.one-third{
    width:98%;
    margin:20px;
    display: flex;
}
.card{
    text-align: center;
    width:100%;
    margin: 20px;
    border: black;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.card p{
    font-size: 15px;
}
.card img{
    
    height:200px;
    width:200px;
    border-radius: 10%;
    
}
.follower{
    display:flex;
    margin: 150px 40px;
    border: black;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.follower div{

    text-align: center;
    width:50%;
    margin: 10px;
    border: black;
    padding: 20px 15px;
}
.final-section{
    background-color: black;
    text-align: center;
}
.highlight2{
    color: gray;
}
.final-section h1{
    padding: 10px;
}
.final-section h6{
    padding: 5px;
}
.final-logo{
    display:flex;

}
.final-logo p{
    
    height: 100%;
    width: 100%;
    margin-right: .001px;
    
}
.final-logo p img{
    height:40px;
    width:45px;
}